<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Adding the Style Sheet Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>YelpCamp</title>
</head>
<body>
  <nav class="navbar navbar-default bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yelp Camp</a>
      </div>
      <ul class="nav navbar-nav navbar-right" style="display: inline-block">
        <!-- If No User -->
        <% if(!currentUser){ %>
          <li style="display: inline; padding-left: 10px;"><a href="/login">Login</a></li>
          <li style="display: inline; padding-left: 10px;"><a href="/register">Sign Up</a></li>
        <% } else { %>
          <!-- Else -->
          <li style="display: inline; padding-left: 10px;"><a href="#">Signed In As: <%= currentUser.username %></a></li>
          <li style="display: inline; padding-left: 10px;"><a href="/logout">Sign Out</a></li>
        <% }  %>
      </ul>
      <!-- <div class="collapse navbar-collapse" style="display: inline">
      </div> -->
    </div>
  </nav>

  <div class="container">
    <% if(error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>
  </div>