<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Adding the Style Sheet Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>YelpCamp</title>
</head>
<body>
  <nav class="navbar navbar-default bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yelp Camp</a>
      </div>
      <ul class="nav navbar-nav navbar-right" style="display: inline-block">
        <li style="display: inline; padding-left: 10px;"><a href="/">Login</a></li>
        <li style="display: inline; padding-left: 10px;"><a href="/">Sign Up</a></li>
        <li style="display: inline; padding-left: 10px;"><a href="/">Sign Out</a></li>
      </ul>
      <!-- <div class="collapse navbar-collapse" style="display: inline">
      </div> -->
    </div>
  </nav>